<header class="p-3 text-bg-dark">
  <div class="container-fluid px-3">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <%= link_to root_path, class: "d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" do %>
        <!-- ロゴが完成したら、画像に置き換え -->
        <span class="fs-4 fw-bold">MyApp</span>
      <% end %>

      <% if user_signed_in? %>
        <!-- ログイン中の表示 -->
        <div class="text-end">
          <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-outline-danger me-2" %>
        </div>
      <% else %>
        <!-- 非ログイン時の表示 -->
        <div class="text-end">
          <%= link_to 'ログイン', new_user_session_path, class: "btn btn-light me-2 fw-bold" %>
        </div>
      <% end %>
    </div>
  </div>
</header>