<header class="p-3 text-bg-dark">
  <div class="container-fluid px-3">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <%= link_to root_path, class: "d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" do %>
        <!-- ロゴが完成したら、画像に置き換え -->
        <span class="fs-4 fw-bold">MyApp</span>
      <% end %>

      <div class="text-end">
        <%= link_to 'ログイン', '#', class: "btn btn-outline-light me-2" %>
      </div>
    </div>
  </div>
</header>