/* app/assets/stylesheets/application.tailwind.css */

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@import "./pagy-tailwind.css";
@import "./simple-calendar.css";
@import "./clipboard.css";
@import "./dialog.css";



/* 画面遷移時のプログレスバーのカスタマイズ */
.turbo-progress-bar {
  height: 3px;
  background: linear-gradient(to right, #10b981, #34d399);
}


/* フレーム読込中 */
turbo-frame[busy] {
  opacity: 0.45;
  cursor: wait;
  pointer-events: none;
  transition: opacity 0.15s ease;
}


input,
select,
textarea {
  font-size: 16px;
}

input[type="datetime-local"] {
  display: block;
  width: 100%;
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-meridiem-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

input::-webkit-inner-spin-button {
  height: auto;
}